<!-- Modal -->
<style>
	body {
		border-style:solid;
		border-width:10px;
		border-color:#ccc;
	}
	#myModalLabel {
		font-weight:bold;
		font-family:Helvetica; 
		text-align:center;
	}
	.centered {
		text-align:center;
	}
	.modal-footer {
		text-align:center;
	}	
</style>


<div id="donateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 
   	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Donate</h3>
	</div>


</div>


<<<<<<< HEAD
<script>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Donate</button>
  </div>
</div>


<script>

	$('#title').typeahead(bookTitles);

</script>
=======
>>>>>>> 8746adc776bb273fb67087caac6a33ace44d30f9
