<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Donate</h3>
  </div>
  <div class="modal-body">
<form>
Book Title: <input type="text" name="booktitle"><br>
Edition #: <input type="text" name="edition"><br>
Author Name: <input type="text" name="authorname"><br>
ISBN #: <input type="text" name="isbn"><br>
# of copies: <input type="text" name="copies"><br>
</form>


  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Donate</button>
  </div>
</div>