<!-- Modal -->
<style>
	body {
		border-style:solid;
		border-width:10px;
		border-color:#ccc;
	}
	#myModalLabel {
		font-weight:bold;
		font-family:Helvetica; 
		text-align:center;
	}
	.centered {
		text-align:center;
	}
	.modal-footer {
		text-align:center;
	}	
</style>


<div id="donateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 
   	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Donate</h3>
	</div>

	<div class="modal-body">
		<form id="donate_form" class="centered" method="POST" action="/donate_results">
      <input type="text" id="book_title_input" name="book[title]" placeholder="Book Title" ><br>
      <input type="text" name="book[edition]" placeholder="Edition #"><br>
      <input type="text" id="book_author" name="book[author]" placeholder="Author Name"><br>
      <input type="text" id="book_isbn" name="book[isbn]" placeholder="ISBN #*"><br>
      <input type="text" name="num_copies" placeholder="# of copies">
		</form>
	</div>

	<div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    	<button id="donate_btn" class="btn btn-primary">Donate</button>
	</div>
</div>


