<!-- Modal -->

<style>
	#findModal {
		border-width:10px;
		border-color:#ccc;
	}
	
	#myModalLabel {
		font-family:Helvetica;
		font-weight:bold;
		text-align:center;

	}
	
	.centered {
		text-align:center;

	}
	
	.modal-footer {
		text-align:center;
	}
	
</style>


<div id="findModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Find</h3>
  </div>
  <div class="modal-body">




<form id="find_form" class="centered" method="POST" action="/results">
	<input type="text" placeholder="Book Title" id="totalfind"><br>
	<input type="text" placeholder="Edition #"><br>
	<input type="text" placeholder="Author Name"><br>
	<input type="text" placeholder="ISBN #"><br>
	<input type="text" placeholder="# of copies">
</form>





  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="find_btn" class="btn btn-primary">Find</button>
  </div>
</div>


