<form method="post" action="/results">
    Book Title: <input type="text" name="book[title]"><br>
    Book Edition: <input type="text" name="book[edition]"><br>
    Book Year: <input type="text" name="book[year]"><br>
    Book Format: <input type="text" name="book[format]"><br>
    Book Author: <input type="text" name="book[author]"><br>
    Book Cover: <input type="text" name="book[cover]"><br>
    Book ISBN: <input type="text" name="book[isbn]"><br>
    Book Publisher: <input type="text" name="book[publisher]"><br>
    School Name: <input type="text" name="school[name]"><br>
    School Address: <input type="text" name="school[address]"><br>
    School Telephone: <input type="text" name="school[telephone]"><br>
    <input type="submit" value="Submit">
</form>
