
      <div class="jumbotron">
        <h1 class="market">Give & Get Textbooks!</h1>
        <img class="mainimg" src="img/Infographic.png">
        <p class="lead">Trader Books allows your school to give and get textbooks. If your school has a surplus of textbooks, Trader Books makes it easy for you to donate them to nearby schools in need. And if your school needs textbooks, Trader Books allows you to search for books.</p>

        

      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <img class="indexButton" src="img/donate-icon.png" data-toggle="modal" data-target="#donateModal">
          <h4>DONATE TEXTBOOKS</h4>
          <p>If you have extra textbooks, this is the place!</p>

        </div>

        <div class="span6">
          <img class="indexButton" src="img/request-icon.png" data-toggle="modal" data-target="#findModal">
          <h4>REQUEST TEXTBOOKS</h4>
          <p>If your school needs textbooks, this is the spot!</p>

        </div>
      </div>

      <% include donatemodal %>
      <% include findmodal %>
