
      <div class="jumbotron">
        <h1 class="market">Give & Get Textbooks!</h1>
        <img class="mainimg" src="http://www.radionorthland.org/wp-content/uploads/2012/10/Library-Books.jpg">
        <p class="lead">Here is an awesome infographic which will explain to you how to give and get textbooks!</p>
        <a class="btn btn-large btn-success" href="#">Sign up here</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <img src="http://img.robinhood.org/sites/default/files/user-uploaded-images/donate_button.png">
          <h4>DONATE TEXTBOOKS</h4>
          <p>If you have a surplus of textbooks to share, this is your niche!</p>

        </div>

        <div class="span6">
          <img src="http://img.robinhood.org/sites/default/files/user-uploaded-images/donate_button.png">
          <h4>GET TEXTBOOKS</h4>
          <p>If your school needs books, this is the spot!</p>

        </div>
      </div>
