<!-- Modal -->
<style>
	#requestModal {
		border-style:solid;
		border-width:5px;
		border-color:#ccc;
		background-color: #FFF5EE;
	}
	#myModalLabel {
		font-weight:bold;
		font-family: 'Domine', serif;
		text-align:center;
		font-size: 33px;
		padding: 10px 0;
		color: #0A8512;
	}
	.centered {
		text-align:center;
	}
	.modal-footer {
		text-align:center;
	}	
</style>

<link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>


<div id="requestModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 
   	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Request</h3>
	</div>

	<div class="modal-body">
		<form class="centered" method="POST" action="/have">
			<input type="text" placeholder="Name" id="titledonate"><br>
			<input type="text" placeholder="Email Address" ><br>
						<input type="text" placeholder="School" ><br>
			<div style="padding-bottom:10px;">
			<input list="counties" placeholder="County">
				<datalist id="counties">
					<option value="San Francisco">
					<option value="Alameda">
					<option value="Marin">
					<option value="Napa">
					<option value="San Mateo">
					<option value="Santa Clara">
					<option value="Solano">
					<option value="Sonoma">
				</datalist><br>
				</div>
			<textarea rows="4" cols="50">Type your message here.</textarea><br>
		</form>
	</div>

	<div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    	<button class="btn btn-primary">Send</button>
	</div>
</div>


